<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trainingtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainingTracker.Dark.NoActionBar">
        <activity
            android:name=".exercise.ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".choosetrainingexercise.ChooseTrainingExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".choosetrainingday.ChooseTrainingDayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".choosetrainingplan.ChooseTrainingPlanActivity"
            android:exported="true" />
    </application>

</manifest>